body{
    background-color: antiquewhite;
    color: black;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /*     display: flex;
    text-transform: capitalize;
    justify-content: center;
    flex-direction: column; */
}

h1{
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bolder;
}

p{
    font-size: 16px;
    margin-bottom: 30px;
}

button{
/*    display: flex; */
    background-color: #4CAF50;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bolder;
/*    justify-content: center;
    align-items: center; */
}